<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251326496157-j27ne4njcl94njvettns5dr335v43rl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251326496157-j27ne4njcl94njvettns5dr335v43rl0</string>
	<key>API_KEY</key>
	<string>AIzaSyCkMed7EM1rR6ldXoYIIka6NyyTmL1VMA8</string>
	<key>GCM_SENDER_ID</key>
	<string>251326496157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forkipe.SWIFT.Course</string>
	<key>PROJECT_ID</key>
	<string>course-app-84e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>course-app-84e2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251326496157:ios:a06f2f6f0b83338a9e8374</string>
</dict>
</plist>